table tr td{
  border: 2px solid black;
  width: 200px;
  height: 200px;
}

table{
  margin: auto;
}

#field0 img{
    position: relative;
    z-index:-1;
}

body{
  background: url(../images/splatter.jpg) no-repeat;
  background-position: -5% -250%;

}
